{% extends 'base.html' %}

{% block title %}{{ product.name }} - Детали{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="display-4 mb-4">{{ product.name }}</h1>

    <div class="row">
        <div class="col-md-6">
            <!-- Изображение товара -->
            {% if product.image %}
                <img src="{{ product.image.url }}" alt="{{ product.name }}" class="img-fluid">
            {% else %}
                <p>Изображение не доступно.</p>
            {% endif %}
        </div>

        <div class="col-md-6">

            <h3>Описание:</h3>
            <p>{{ product.description }}</p>


            <h4>Категория: {{ product.category.name }}</h4>


            <h4>Цена: {{ product.price }} ₽</h4>


            {% if user.is_authenticated and user == product.owner %}
                <a href="{% url 'product_edit' product.pk %}" class="btn btn-warning btn-lg mt-3">Редактировать товар</a>
            {% endif %}
        </div>
    </div>

    <div class="mt-5">
        <a href="{% url 'my_products' %}" class="btn btn-secondary">Вернуться к моим товарам</a>
    </div>
</div>
{% endblock %}
